<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.lit.mapper.AdminclassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.lit.entity.Adminclass">
        <id column="id" property="id" />
        <result column="classnum" property="classnum" />
        <result column="majar_id" property="majarId" />
    </resultMap>

</mapper>
