<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.lit.mapper.ClasscheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.lit.entity.Classchedule">
        <id column="id" property="id" />
        <result column="inclass" property="inclass" />
        <result column="majarid" property="majarid" />
        <result column="term" property="term" />
        <result column="course_sid" property="courseSid" />
    </resultMap>

</mapper>
