<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.lit.mapper.TopicsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ly.lit.entity.Topics">
        <id column="id" property="id" />
        <result column="comtent" property="comtent" />
        <result column="topic_type" property="topicType" />
        <result column="releasetime" property="releasetime" />
        <result column="account_id" property="accountId" />
        <result column="remark" property="remark"/>
        <result column="typename" property="typename" />
        <association property="account" javaType="com.ly.lit.entity.Account">
            <id property="id" column="aId"/>
            <result column="account" property="account" />
            <result column="password" property="password" />
            <result column="pic" property="pic" />
            <result column="username" property="username" />
            <result column="role" property="role" />
            <result column="userid" property="userid" />
        </association>
    </resultMap>


    <select id="getListPages" resultMap="BaseResultMap">

        SELECT st.*,st.id stid,sa.*,sa.id aId,sty.typename
        FROM sys_topics st
        LEFT JOIN sys_account sa
        ON st.account_id = sa.id
        LEFT JOIN sys_topictype sty
        ON st.topic_type = sty.id
        <if test='content != null and content != ""'>
            WHERE sa.username LIKE #{content}
            OR sty.typename LIKE #{content}
        </if>
        ORDER BY st.releasetime DESC

    </select>


    <select id="getListPagesById" resultMap="BaseResultMap">

        SELECT st.*,st.id stid,sa.*,sa.id aId,sty.typename
        FROM sys_topics st
        LEFT JOIN sys_account sa
        ON st.account_id = sa.id
        LEFT JOIN sys_topictype sty
        ON st.topic_type = sty.id
        WHERE st.account_id = #{id}
        <if test='content != null and content != ""'>
            and (sa.username LIKE #{content}
            OR sty.typename LIKE #{content})
        </if>
        ORDER BY st.releasetime DESC

    </select>


</mapper>
